a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html {
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
	background-image: url(../media/textured_paper.png);
    background-repeat: repeat;
    //background-color: #ffffff;
}

body {
    display: block;
    font-family: 'Roboto', sans-serif;  
    color: #74757D;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
	//display: table;
	width: 100%;
	//height: 100%; /* For at least Firefox */
	min-height: 100%;
    position: relative;
    //-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	//box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* end of base structure */

/*
 * Header
 */

.header {
  //border: 1px solid green;
  height: 0px;
  margin: 0;
  padding: 0;
  background-color: #138fe2;
}

.pages {
    background: #313136;
    //background: #74757D;
    height: 50px;
	//display: block;
}

.masthead-nav {
	//border: 2px solid yellow;
    position: relative;
    top: 50%;
    //left: 50%;
    transform: translateY(-50%); translateX(-50%);
}

.nav.masthead.nav {
    //height: 100px;
    //padding: 0px;
}

.masthead-nav > li {
  display: inline-block;
  //border: 2px solid blue;
}

.masthead-nav > li + li {
  width: 100px;
}

/** styles of inactive menu items **/

.masthead-nav > li > a {
  width: 100px;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #ffffff;
  /* IE8 proofing */
  position: relative;
  display: block;
  padding: 0px 0px;
  //color: rgba(255,255,255,.75);
  //border-top-left-radius: 25px;
  //border-top-right-radius: 25px;
}


/** hover of main menu items **/

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  color: #4092bd;
  background-color: transparent;
  //background-color: #4bbee5;
  //opacity: 0.3;
  //border-color: white;
  //border-bottom-color: #a9a9a9;
  //border-bottom-color: rgba(255,255,255,.25);
}


/** current page indicator **/

body#home a#homeNav,
body#about a#aboutNav,
body#contact a#contactNav,
body#portfolio a#portfolioNav,
body#resume a#resumeNav {
    background: #4092bd;
    background: #ffffff;
    color: #313136;
    //border-bottom: 4px solid;
    //border-bottom-color: #FF8E1A;
    //width: 100px;
    //height: 100px;
    //position: relative;
    //top: 50%;
    //left: 50%;
    //transform: translateY(-50%) translateX(-50%);
    //border-color: #fff;
    //border-bottom-color: #fff;
    //border-top-left-radius: 15px;
    //border-top-right-radius: 15px;
}


/* end of header */

/*************************************************************************** 
 *  Body Content
 ***************************************************************************/ 

.content {
    //height:100%;
    padding-bottom: 150px;
    //border: 1px solid blue;
}

/******************** home page *************************/

.text-photo {
    //border: 1px solid green;
    width: 800px;
    //height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.name {
	width: 350px;
	float: left;
    //border: 1px solid yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.name h2 {
	//border: 1px solid red;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    font-weight: 300;
    letter-spacing: -8px;
    line-height: 55px;
    text-transform: uppercase;
}

//#First  { color: #dea98c; }
#First  { color: #313136; }
#Last  { color: #313136; }
//#Last   { color: #4bbee5; }

/* home page image of me */

.bg {
	background-image: url(../media/silhouette12k.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 624px; 
    width: 450px;
	margin-left: 350px;
    //border: 1px solid blue;
}


/* home page area under image of me */

.intro_line {
    width: 800px;
    border: 2px solid #313136;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hello-world p{
    color: #313136;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 50px;
}


/********************* about page **********************/

.about_text {
    width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.about_line {
    width: 800px;
    border: 2px solid #313136;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.about_heading { 
    //border: 1px solid red;
    width: 280px;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#about_name { 
    color: #313136;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    text-transform: uppercase;
    //float: left;
    //border: 1px solid red;
}

.about_text p{
    color: #313136;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 50px;
}


/* end of body */

/***********************************************************************
 *  Footer 
 ***********************************************************************/
.mastfoot {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background-color: #313136;
    //border-top: 1px solid black;
}

.footer-name {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.footer-name p {
	color: #ffffff;
    line-height: 8px;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
}

.social-icons {
    padding-bottom: 10px;

}



.social-icons a {
    margin-left: 20px;
}
/* end of footer and styles */


/**** extra code ****/

/*
.masthead-nav > .homeactive > a,
.masthead-nav > .edactive > a,
.masthead-nav > .contactactive > a {
  width:100px;
  color: #fff;
  background: #666547;
  border-color: #fff;
  border-bottom-color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
*/

/*
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */
/*
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */
/*
.mastfoot {
  color: #999; /* IE8 proofing 
  color: rgba(255,255,255,.5);
}
*/

/*
 * Affix and center
 */
/*
@media (min-width: 768px) {
  /* Pull out the header and footer */
  /*.masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  /*.site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  /*.masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */

/*}
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
