/****************************************************************************************************************************************************
 *																		Defaults																	*
 ****************************************************************************************************************************************************/


/*a:focus,
a:hover {
	color: #fff;
}*/

/* Custom default button */
/*.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none;  Prevent inheritence from `body` 
	background-color: #fff;
	border: 1px solid #fff;
}*/

/******* some default colors used on site ********
	color:		#0073ea; blue color (hover on dog calc buttons)
	color:		#fa1f18; red color (submit on contact page and dog calc page, mail logo on footer, )
*/

/****************************************************************************************************************************************************
 *																	Base structure 																	*
 ****************************************************************************************************************************************************/

/*html {
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}*/

html,
body {
	height: 100%;
	background-image: url(../media/wavegrid_tan.png);
	background-repeat: repeat;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	/*color: #313136;*/
	text-align: center;
}

.wrapper {
	height: auto;
	margin: 0 auto -170px;
	min-height: 100%;
	padding: 0 0 170px;
	box-sizing: border-box;
	overflow: auto;
	/*height: 100%;  For at least Firefox */
	/*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

/*************************************************************** end of base structure **************************************************************/

/****************************************************************************************************************************************************
 *																	Top menu content 																*
 ****************************************************************************************************************************************************/

.pages {
	background: #313136;
	/*height: 50px;*/
}

.top-menu {
	margin: 0;
	padding-left: 0;
}

.top-menu > li {
	display: inline-block;
}

.top-menu > li + li {
	width: 100px;
}

/** styles of inactive menu items **/
.top-menu > li > a {
	width: 100px;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	/* IE8 proofing */
	position: relative;
	display: block;
	padding: 0px 0px;
	/*color: rgba(255,255,255,.75);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;*/
}


/** hover of main menu items **/
.top-menu > li > a:hover,
.top-menu > li > a:focus {
	color: #4092bd;
	background-color: transparent;	
	/*background-color: #4bbee5;
	opacity: 0.3;
	border-color: white;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);*/
}


/** current page indicator **/

body#home a#homeNav,
body#about a#aboutNav,
body#contact a#contactNav,
body#projects a#projectsNav {
	background: #ffffff;
	color: #313136;
	text-decoration: none;
	/*background: #4092bd;*/
	/*border-bottom: 4px solid;
	border-bottom-color: #FF8E1A;
	width: 100px;
	height: 100px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	border-color: #fff;
	border-bottom-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px; */
}

/** hide html mobile menu **/ 
.mobile_nav { display: none; }

.slicknav_nav a {
	text-transform: uppercase;
}

.slicknav_menu { display: none; }

.slicknav_btn {
	background-color: initial;
}


/********************************************************************* end of header ****************************************************************/

/****************************************************************************************************************************************************
 *                                                                      Body content                                                                *
 ****************************************************************************************************************************************************/

.content { margin-top: 20px; }

legend {
	color: #313136;
	text-align: left;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	display: initial;
	width: initial;
	padding: initial;
	margin-bottom: initial;
	line-height: initial;
	color: initial;
	border: initial;
	border: none;
}

label {
	color: #313136;
	text-align: left;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	display: initial;
	max-width: initial;
	margin: initial;
}

/********************************************************************** home page *******************************************************************/

#home_content {
	margin-left: 20px;
	margin-right: 20px;
}

.text-photo {
	margin: 0 auto;
	max-width: 800px;
	/*position: relative;
	left: 50%;
	transform: translateX(-50%);*/
}

.name {
	float: left;
	/*width: 350px;*/
	/*position: absolute;
	top: 50%;
	transform: translateY(-50%);*/
}

.name p {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 90px;
	font-weight: 300;
	letter-spacing: -8px;
	/*line-height: 55px;*/
	text-transform: uppercase;
}

#First  { color: #313136; }
#Last  { color: #313136; }

/*#First  { color: #dea98c; }
#Last   { color: #4bbee5; }*/


/* home page image of me */

.my_image_div { float: left; }

#my_image { 
	display: block;
/*	width: auto;
	height: auto;*/
}

/*.bg {
	background-image: url(../media/silhouette12k.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 624px; 
	width: 450px;
	margin-left: 350px;
}*/


/* home page area under image of me */

.intro_line {
	max-width: 800px;
	border: 2px solid #313136;
	border-left: none;
	border-right: none;
	border-bottom: none;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.hello-world p{
	color: #313136;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
}

/********************************************************************** about page ******************************************************************/

#about_content {
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.about_text {
	max-width: 800px;
	margin: 0 auto;
}

.about_line {
	max-width: 800px;
	margin: 0 auto;
	border: none;
	border-top: 2px solid #313136;
}

.about_heading { 
	max-width: 800px;
	margin: 0 auto;
}

#about_punchline {
	color: #313136;
	text-align: left;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
	/*line-height: 50px;*/
}

#about_name {
	margin: 0;
	color: #313136;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-align: left;
}

.about_text p{
	color: #313136;
	text-align: justify;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 27px;
}


/********************************************************************* contact page *****************************************************************/


#contact_logo {
	height: 70px;
	width: 70px;
	border: 0;
	margin: 0 auto;
	/*background-image: url(../media/mail.png);
	background-repeat: no-repeat;
	background-size: contain;*/
}

.contact_area p {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
}

#contactForm {
	margin: 0 auto;
	width: 400px;
	text-align: initial;
}

.contactMe {
	display: block;
	outline: none;
	width: 400px;
	height: 37px;
	background: #efefef;
	border: none;
	border-bottom: 3px solid #c9c9c9;
	transition: border 0.5s;
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	color: #313136;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#contactMeMessage {
	display: block;
	outline: none;
	width: 400px;
	background: #efefef;
	border: none;
	border-bottom: 3px solid #c9c9c9;
	transition: border 0.5s;
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	color: #313136;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 200px;
}

input:focus, textarea:focus {
	border-bottom: 3px solid #494950;
	box-shadow: 0px 1px 5px 0px #494950;
}

#contactMeSubmit {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	width: 150px;
	height: 37px;
	color: #efefef;
	background-color: #fa1f18;
	background-image: linear-gradient(to bottom, #fa1f18, #bc1526);
	box-shadow: 0px 1px 3px 0px #494950;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#contactMeSubmit:hover {
	background-color: #e21c15;
	background-image: linear-gradient(to bottom, #bc1526, #fa1f18);
}


/****************************************************************** contact sent page **************************************************************/

.sent_area { 
	margin-top: 50px;
}

.sent_area p {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
}

#sent_logo {
	height: 90px;
	width: 90px;
	border: 0;
	margin: 0 auto;
	/*background-image: url(../media/mail.png);
	background-repeat: no-repeat;
	background-size: contain;*/
}

/*************************************************************** dog age calculator page ************************************************************/

#dogAge_heading { 
	margin: 0 auto;
	max-width: 800px;
	margin-top: 10px;
	/*position: relative;
	left: 50%;
	transform: translateX(-50%);*/
}

#dogAge_name {
	margin: 0;
	color: #313136;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-align: left;
}

#dogAge_punchline {
	color: #313136;
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}

#dogAge_line {
	width: 800px;
	margin-bottom: 20px;
	border: 2px solid #313136;
	border-left: none;
	border-right: none;
	border-bottom: none;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* fixes reload glitch of flashing radio buttons */
#dogAgeCalcDiv {
	display: none;
}

div#dogAgeContent {
	margin-bottom: 25px;
}

#dogFormDiv {
	padding-top: 20px;
	padding-bottom: 20px;
	border: 3px solid #f6f6f6;
	width: 450px;
	background: #313136;
	margin: 0 auto;
	box-shadow: 0px 2px 10px 0px #494950;
}

.dogCalcHeadings {
	margin-top: 20px;
	color: white;
}

#radioSet {
	border: none;
}

#radioSet label.ui-button.ui-widget {
	font-size: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

input#humanAge {
	text-align: center;
}

#humanAge {
	font-size: 20px;
	outline: none;
	background: #efefef;
	border: none;
	border: 2px solid #0073ea;
	transition: border 0.5s;
	margin-top: 10px;
	width: 100px;
	height: 40px;
}

#humanAge:focus {
	border: 2px solid #fa1f18;
	box-shadow: 0px 1px 5px 0px #494950;
}

.ageTextBorder {
	border: 2px solid #fa1f18;
}

#ageResult {
	width: 150px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 3px;
	background: #f6f6f6;
}
#ageResult p{
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: #0073ea;
	margin-bottom: 0;
	margin-top:	0;
}
p#answer{
	color: #fa1f18;
	font-size: 1.6em;
	font-weight: bold;
	padding-top: 5px;
    padding-bottom: 5px
}

button.dogAgeButton {
	width: 100px;
	height: 40px;
	margin-right: 0;
	margin-top: 30px;
	font-size: 1em;
}

.error {
	color: #fa1f18;
}


/******************************************************************* end of body ********************************************************************/

/****************************************************************************************************************************************************
 *                                                                      Footer                                                                      *
 ****************************************************************************************************************************************************/


.mastfoot {
	background-color: #313136;
	color: red;
    height: 150px;  /* footer height */
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.footer_name {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.footer_name p {
	color: #ffffff;
	line-height: 8px;
	letter-spacing: 1px;
	font-size: 12px;
	text-transform: uppercase;
}

#dev_note {
	font-size: 10px;
	line-height: 10px;
}

#social_list {
	padding: 0;
}

#social_list li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#footer_github {
	width: 48px;
	height: 48px;
}

#footer_contact {
	width: 48px;
	height: 48px;
}

/************************************************************* end of footer and styles *************************************************************/

/****************************************************************************************************************************************************
 *                                                                      Restiv			                                   							*
 ****************************************************************************************************************************************************/

/*.mobi.phone .top-menu { display: none; }*/

.mobi.phone .mobile_nav { display: none; }

.mobi.phone .slicknav_menu {
	display: inline-block;
	background: #313136;
	width: 100%;
	font-size: 50px;
}

.mobi.phone .slicknav_btn {
  display: inline-block;
  float: none;
}

.mobi.phone .pages { display: none; }

/*.mobi.phone .top-menu > li {
	display: block;
	width: auto;
}

.mobi.phone .top-menu > li > a { width: auto; }*/

.mobi.phone .name {
	float: initial;
    position: initial;
    top: initial;
    transform: initial;
}

.mobi.tablet .name {
	float: initial;
    position: initial;
    top: initial;
    transform: initial;
}

/* center image of me on main page */
.mobi.phone .my_image_div { float: initial; }
.mobi.phone #my_image {
	max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.mobi.tablet .my_image_div { float: initial; }
.mobi.tablet #my_image {
	max-width: 100%;
    height: auto;
    margin: 0 auto;
}













/**** extra code and media queries ****/

/*

.masthead-nav > .homeactive > a,
.masthead-nav > .edactive > a,
.masthead-nav > .contactactive > a {
  width:100px;
  color: #fff;
  background: #666547;
  border-color: #fff;
  border-bottom-color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
*/

/*
@media (min-width: 768px) {
  .masthead-brand {
	float: left;
  }
  .masthead-nav {
	float: right;
  }
}

/*
 * Cover
 */
/*
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */
/*
.mastfoot {
  color: #999; /* IE8 proofing 
  color: rgba(255,255,255,.5);
}
*/

/*
 * Affix and center
 */
/*
@media (min-width: 768px) {
  /* Pull out the header and footer */
  /*.masthead {
	position: fixed;
	top: 0;
  }
  .mastfoot {
	position: fixed;
	bottom: 0;
  }
  /* Start the vertical centering */
  /*.site-wrapper-inner {
	vertical-align: middle;
  }
  /* Handle the widths */
  /*.masthead,
  .mastfoot,
  .cover-container {
	width: 100%; /* Must be percentage or pixels for horizontal alignment */

/*}
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
	width: 700px;
  }
}
*/
